node_modules
.config/nvim/autoload/
.config/nvim/.netrwhist
.config/nvim/lua-language-server
.config/StardewValley
.config/QtProject/
.config/gatsby/
.config/coc/
.config/configstore
.config/karabiner/
.config/iterm2/
.config/mozilla/
.config/neofetch/
.config/pomo/
